<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvhongli.dao.GoodsCategoryMapper">
    <resultMap id="base" type="com.lvhongli.pojo.GoodsCategoryVo">
        <result column="update_time" property="updateTime"></result>
        <result column="create_time" property="createTime"></result>
        <association column="create_user" property="createUser" select="com.lvhongli.dao.SysUserMapper.findNameById"></association>
        <association column="update_user" property="updateUser" select="com.lvhongli.dao.SysUserMapper.findNameById" ></association>
        <association  column="p_id" property="pName" select="com.lvhongli.dao.GoodsCategoryMapper.findNameById"></association>
    </resultMap>

    <select id="find"  resultMap="base">
        select * from goods_category
        <where>
            <if test="pid != null ">
              and  pid=#{pid}
            </if>
            <if test="name != null">
                and  name=#{name}
            </if>
            <if test="createUser != null and createUser != ''">
                create_user where #{createUser}
            </if>
            <if test="createTime != null and createTime != ''">
                create_time where #{createTime}
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user where #{updateUser}
            </if>
            <if test="updateTime != null and updateTime != ''">
                create_time where #{updateTime}
            </if>
        </where>
        order by sort
    </select>

    <select id="findNameById" resultType="string">
        select name from goods_category where id=#{id}
    </select>

    <delete id="deleteAll">
        delete  from goods_category where
        <foreach collection="ids" open="  id in(" close=")" separator="," item="id">
                #{id}
        </foreach>
        <foreach collection="ids" open=" or pid  in(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getPid" resultType="int">
        select pid from goods_category where id=#{id}
    </select>

    <select id="selectByPid" resultMap="base">
        select * from goods_category where pid=#{pid}
    </select>
</mapper>