<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvhongli.dao.SysUserMapper">
  <sql id="Base_Column_List">
    id, account, password, slat, name
  </sql>

  <!--删除方法-->
  <delete id="deleteAll" >
    delete from sys_user where 1=2
    <foreach collection="ids" open=" or id in (" close=")" separator="," item="id">
      #{id}
    </foreach>
  </delete>

  <select id="find" resultType="com.lvhongli.entity.SysUser">
    select <include refid="Base_Column_List"></include>
    from sys_user
  </select>

  <select id="findByName" resultType="com.lvhongli.entity.SysUser">
    select <include refid="Base_Column_List"></include>
    from sys_user
    where account=#{account}
  </select>

  <select id="queryHaveMenuId" parameterType="int" resultType="java.lang.Integer">
    select id
    from sys_menu
    where id in (
        select  menu_id
        from role_menu_link
        where role_id in (
            select  role_id
            from user_role_link
            where  user_id=#{id}
        )
    )
  </select>

    <select id="findNameById" resultType="string">
        select name from sys_user where id=#{id}
    </select>
</mapper>